<!DOCTYPE html>
<html>
  <head><style>
  body {
    font-family: myfont;
    color: ccec6d;
    text-align: center;
    font-size: 60px;
    color: black;
    text-shadow: 0 0 8px white;
  }
</style>
<Body>
I CAN'T Go For That!!!!!!!!!!
<center><img src="/pearandoats.png" alt="snapping pear" width="660" height="545"></center>
<audio autoplay>
  <source src="\audio\halloates.mp3" type="audio/mpeg">
</audio>
</body></html>
