<!DOCTYPE html>
<html>
<head>
<style>
body {
  font-family: myfont;
  color: ccec6d;
  text-align: center;
  font-size: 60px;
  color: black;
  text-shadow: 0 0 8px white;
}


</style>
</head>
<body
></center>
<%=first_name%>
<script>
  function new_textbox(){
    var input = document.createElement("input"); //var "input" <===input just name creates tag
    var location = document.getElementById("our_input");
    input.type = "text";
    input.required = true;
    input.autofocus = true;
    input.name = "new_name[]"; //can put any name same as html formatting
    location.appendChild(input); // adds input to location

  }
  function remove_box() {
  var select = document.getElementById('our_input');
  select.removeChild(select.lastChild);
}
</script>
<button onclick="new_textbox()">Add a name :)</button>
<button onclick="remove_box()">Delete your box</button>
<form method = "post" action ="/getrandomnames">
  <p id="our_input"> </p>

  <input type = "hidden" name= "first_name" value="<%=first_name%>">
  <input type="submit" value="makenamelist"></center>
</form></body>
