<!DOCTYPE html>
<html>
<head><style>
body {
  font-family: myfont;
  color: black;
  text-shadow: 0 0 8px white;
}


</style>
</head>
<body >
<div class="name center font_type"> Please enter your name</div><br>

<form method="post" action="first_name" class="center">
<input type = "text" name = "first_name">
<input type="submit" value="enter">
</form>
</body>
