<!DOCTYPE html>
<html
  <head>

    <title></title>
  </head>
  <body><body background="stage.jpg">
    <center><h2><%=first_name%> Here are your teams</h2>
    <%session[:likedpairs].each do |final|%></br>
    <%=final.join(',')%>
    <%end%></center>
    <center><form method= "post" action ="startover">
    <input type = "submit" value="startover">
  </form></center></br>

<center><img src="/danjou-pear-cartoon.png" alt="snapping pear" width="460" height="345"></center>

  </body>
</html>
