<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<center><h1 style="font-family:courier;font-size:300%;" >Please enter your name</h1><center><br>

<form method="post" action="first_name">
<input type = "text" name = "first_name">
<input type="submit" value="enter">
</form>
