<!DOCTYPE html>
<html>
  <head><style>
    h2 {
      font-family: "myfont";

  }
  body {
    font-family: myfont;
    color: ccec6d;
    text-align: center;
    font-size: 60px;
    color: black;
    text-shadow: 0 0 8px white;
  }

  </style></head>
  <body>
    <h2><%=first_name%> Here are your teams</h2>
     <p><center>
    <%session[:likedpairs].each do |final|%></br>
    <%=final.join(',')%>
    <%end%></center>
    <center><form method= "post" action ="startover">
    <input type = "submit" value="startover">
  </form></center></br>

<center><img src="/danjou-pear-cartoon.png" alt="snapping pear" width="460" height="345"></center>

</p></body>
</html>
