<!DOCTYPE html>

<html>
<head>
  <style>
  p {
    font-family: myfont;
    color: ccec6d;
    text-align: center;
    font-size: 100px;
    color: black;
    text-shadow: 0 0 8px white;
}

body {
  font-family: myfont;
  color: ccec6d;
  text-align: center;
  font-size: 60px;
  color: black;
  text-shadow: 0 0 8px white;
}


</style>
</head>
<body>
<center><p>please choose the pairs you are happy with </p></center></br>


<
<center><form method= "post" action ="checkname">
<input type = "hidden" name= "first_name" value="<%=first_name%>">
<%pairsarray.each do |pairs| %>
<input type = "checkbox" name = "teams[]" value ='<%=pairs.join(",")%>'>
  <%=pairs.join(',')%>
<%end%>
  <input type="submit" value="next"></center>

</body>
</html>
