<!DOCTYPE html>
<html
  <head>

    <title></title>
  </head>
  <body>
    <center><h2><%=first_name%> Here are your teams</h2>
    <%session[:likedpairs].each do |final|%></br>
    <%=final.join(',')%>
    <%end%></center>
    <center><form method= "post" action ="startover">
    <input type = "submit" value="startover">
    <p>smoking big doinks in amish</p>
  </form></center></br>


  </body>
</html>
